<!DOCTYPE html>
<html>

  <head>
    <!--Import Google Icon Font-->
    <title>The Materialize Form Example</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>

    <link rel="stylesheet" href="/assets/styles.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="teal">
    <% include partials/nav.ejs %>
    <div class="container">
      <div class="content center white-text">
        <div class="row">
          <div id="aboutus" class="col s12">
            <h1 ><b>ABOUT </b></h1>
            
            <p >Social Searcher is a web based application which allows users to search for recent trends and stories. Using the data from various social media platforms, the application will build a story for a search query provided by the user.</p>
          </div>
        </div>
        <div id="aboutus" class="col s12">
          <h1 ><b> ATTRIBE </b></h1>
          
          <div class="row">
            <div class="col s12 m12">
              <div class="card">
                <div class="card-content black-text">
                  <p >We’re a tight-knit team that’s passionate about building a solution that helps people by maximizing their time, talent and skills. At Attribe Solutions, we believe in working collectively towards a shared destiny through sharing information and ideas, empowering others and developing trust. We divide our tasks and multiple the successes in every endeavor.</p>
                </div>
                <div class="card-action">
                  <a href="https://github.com/attribesolution">GITHUB</a>
                </div>
              </div>
            </div>
        </div>
      </div>
        <div class="divider"></div>
        <div class="row">
          <div id="developers" class="col s12">
            <h1 ><b>ABOUT DEVELOPERS</b></h1>
            <div class="row">
              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content black-text">
                    <span class="card-title">Owais Ibrahim</span>
                    <p> I'm a final year student at FAST University. I'm more interested in doing Challenges. Experienced in Android Application,Desktop Application,Arduino, Web Development and much more..
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="https://github.com/OwaisIbrahim">GITHUB</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content black-text">
                    <span class="card-title">Taha Asif</span>
                    <p> I'm a final year student at FAST University. I'm more interested in doing Challenges. Experienced in Android Application,Desktop Application,Arduino, Web Development and much more..</p>
                  </div>
                  <div class="card-action">
                    <a href="https://github.com/TahaAsif">GITHUB</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content black-text">
                    <span class="card-title">Shahiq Qureshi</span>
                    <p>I'm a final year student at FAST University. My Interests are in server side coding and I love coding in C/C++.</p>
                  </div>
                  <div class="card-action">
                    <a href="https://github.com/shahiq572">GITHUB</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content black-text">
                    <span class="card-title">Muhammad Ibrahim</span>
                    <p> I am who I am. My interests are still not clear to me :P . I love AI,ML and NLP terminoligies. Experience in Desktop Applicaiton, Web Development, Arduino and much more..</p>
                  </div>
                  <div class="card-action">
                    <a href="https://github.com/ibrahimijc">GITHUB</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="/assets/javascript.js"></script>
  </body>
</html>
